<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <link rel="stylesheet" href="styles.css">
   <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
   <script src=" "></script>
   <title>User Index</title>
</head>
<body>
   <h1>Users</h1>
  
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-highlight">
            <thead>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Created At</th>
                <th>Actions</th>
                </thead>
            <tbody>
             {% for user in all_users %}
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.first_name}} {{user.last_name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.created_at}}</td>
                <td><a href="{% url 'users:show' user.id %}"><button>Show</button></a><a href="{% url 'users:edit' user.id %}"><button>Edit</button></a><a href="{% url 'users:destroy' user.id %}"><button>Delete</button></a></td>
            </tr>
             {% endfor %} 
             

            </tbody>
        </table>
    </div>
</form>
<a href="{% url 'users:new' %}"><button>Add A New User</button></a>
</body>
</html>