<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <title>Session Words</title>
</head>
<body>
   <h1>Add a new word.</h1>
    <form action='/process' method='post'>
    <!--<form>-->
    {% csrf_token %}
    <div class="form-group">
        <label for="comment"></label>

        <textarea class="form-control" rows="1" id="word" name="word"></textarea>
    </div>
    <h2>Choose a color</h2>
    
    <div class="radio">
        <label><input type="radio" name="color" value = "red">Red</label>
    </div>
    <div class="radio">
        <label><input type="radio" name="color" value = "green">Green</label>
    </div>
    <div class="radio">
        <label><input type="radio" name="color"
        value = "blue">Blue</label>
    </div> 

<div class="checkbox">
  <label><input type="checkbox" name = "font" value="True">Show in BIG fonts!</label>
</div>
<input type='submit' value='Add to Session'><br>
</form>
<h2>Session Log</h2>
{% for entry in log  %}
         <font size="{{entry.large_font}}" color ="{{entry.color}}">{{entry.word}}</font> - added {{entry.timestamp}} <br />
{% endfor %}
{{context.log.word}}

<a href="/clear"><button>Clear Session</button></a>
</body>
</html>